.container{
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../assets/background.jpg') no-repeat center center/cover;
  color: white;
  position: relative;
}

.header {
  display: flex;           
  justify-content: center;   
  margin-bottom: 10px;
}
.title {
  position: absolute;
  top: 30px;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}

.tab {
  padding: 10px 30px;
  margin: 10px;             /* small gap between buttons */
  border-radius: 8px;
  cursor: pointer;
  background-color: #ddd;    /* default background */
  color: #333333;               /* text color */
  font-weight: bold;
  transition: all 0.2s ease;
  text-align: center;
}

/* Active tab style */
.tab.active {
  background-color: #4c56af; /* green for active */
  color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

/* Hover effect */
.tab:hover {
  background-color: #a695d9;
  color: white;
}
.text{
    color : #3c009d;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: #3C009d;
    border-radius:9px;
}

 .inputs{
    margin-top: 55 px;
    display: flex;
    flex-direction: column;
    gap: 25 px;
 }

 .input{
    margin-top: 25px;
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaeaea;
    border-radius: 6px;
    margin-bottom: 10px;
 }

 .input img{
    margin: 0px 30px;
 }

 .input input{
    height:50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
 }

 .forgot-password{
    padding-left: 62px;
    margin-top: 0px;
    color: #faf9fc;
    font-size: 18px;
 }

 .forgot-password span{
    color: #b41e00;
    cursor: pointer;
 }

 .submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
 }

 .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
 }

 .gray{
    background: #EAEAEA;
    color: #797979;
 }